@import url("../css/style.css");

body {
    padding-left: 200px;
    word-wrap:break-word;
    background-image: url(../img/HumptyTown.png);  
  }
  
  .topbar{
      font-family: "French's Asylum";
  }
  
  /*NAVBAR*/
  .sidenav{
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      background-color: #9a01cd;
      left: 15PX;
      overflow-x: hidden;
      padding-top: 20px;
      padding: 10px;
      text-shadow: 2px 2px #340146;
      /* AN ATTEMPT TO ADD 3D TO SIDE BAR (USING THE BUTTON EFFECT), DIDN'T WORK, I DON'T KNOW WHY*/
      background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
      border-radius: 6px;
      box-shadow: 0 0 0 1px #600e23 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #071421,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
      color: white !important;
      text-align: center;
      text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
      text-decoration: none !important;
      -webkit-transition: all 10s linear;
  }

  .sidenav .navlink{
    font-family: "Ulitmmaue";
  }

/* CENTER ALL*/
.main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10vh;
  }

.bug {
    display: flex;
    justify-content: center;
    position: relative;

  }

/* ANIMATION FOR DROP LETTERS */
*{
  margin: 0;
  padding: 0;
}

p{
  margin: 0 0 10px;
}

ul{
  list-style: none;
}

.container {
  width: 100%;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 80px;
}

.animate {
  font-size: 50px;
  margin: 50px 0 0;
  border-bottom: 4px solid red;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: .05s;
}
.animate span:nth-of-type(3) {
  animation-delay: .1s;
}
.animate span:nth-of-type(4) {
  animation-delay: .15s;
}
.animate span:nth-of-type(5) {
  animation-delay: .2s;
}
.animate span:nth-of-type(6) {
  animation-delay: .25s;
}
.animate span:nth-of-type(7) {
  animation-delay: .3s;
}
.animate span:nth-of-type(8) {
  animation-delay: .35s;
}
.animate span:nth-of-type(9) {
  animation-delay: .4s;
}
.animate span:nth-of-type(10) {
  animation-delay: .45s;
}
.animate span:nth-of-type(11) {
  animation-delay: .5s;
}
.animate span:nth-of-type(12) {
  animation-delay: .55s;
}
.animate span:nth-of-type(13) {
  animation-delay: .6s;
}
.animate span:nth-of-type(14) {
  animation-delay: .65s;
}
.animate span:nth-of-type(15) {
  animation-delay: .7s;
}
.animate span:nth-of-type(16) {
  animation-delay: .75s;
}
.animate span:nth-of-type(17) {
  animation-delay: .8s;
}
.animate span:nth-of-type(18) {
  animation-delay: .85s;
}
.animate span:nth-of-type(19) {
  animation-delay: .9s;
}
.animate span:nth-of-type(20) {
  animation-delay: .95s;
}

.five span {
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: dropVanish .5s forwards;
    font-family: "French's Asylum";
    color: yellow;
    text-shadow: 5px 3px #c65c29;
    font-size: 60px;

  }
 
  
  @keyframes dropVanish {
    30% {
      transform: translate(0, -50px) rotate(180deg) scale(1);
    }
  
    50% {
      transform: translate(0, 20px) scale(.8) rotate(0deg);
      opacity: 1;
    }
  
    80% {
      transform: translate(-100px, -100px) scale(1.5) rotate(-180deg);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1) rotate(0deg);
      opacity: 1;
    }
  }
 /* END OF ANIMATION   */
  
  
/* ROTATE BUG'S FACE  */
  .rotate {
    animation: rotation 5s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  } 

/* ADD MUSIC  */
  audio {
    display: none;
  }
  
  p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgba(238, 238, 238, 0.6);
    font-size: 20px;
  }
  
  button {
    font-size: 16px;
    color: #eee;
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    padding: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: rgba(115, 67, 167, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-out;
  }
  
  button.fade:hover {
    opacity: 0.8;
  }
  
  .fade {
    opacity: 0.2;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  