@font-face {
    font-family: "Lord Skudley";
    src: url(../fonts/Lord-Skudley.otf);
  }
  
  @font-face {
    font-family: "Sagacity Caps";
    src: url(../fonts/Sagacity-Caps.otf);
  }
  
  @font-face {
    font-family: "Sagacity";
    src: url(../fonts/Sagacity.otf);
  }
  
  @font-face {
    font-family: "Trade Winds";
    src: url(../fonts/TradeWinds-Regular.ttf);
  }
  
  @font-face {
    font-family: "Goonies";
    src: url(../fonts/Goonies.otf);
  }
  
  @font-face {
    font-family: "French's Asylum";
    src: url(../fonts/FrenchsAsylum.otf);
  }
  
  @font-face {
    font-family: "Freebooter";
    src: url(../fonts/FreebooterUpdated_2.ttf);
  }
 
  @font-face {
    font-family: "EEF";
    src: url(../fonts/EEF.otf);
  }
  
  @font-face {
    font-family: "EEFBolder";
    src: url(../fonts/EEFBolder.otf);
  }
  
  @font-face {
    font-family: "Caslon Antique";
    src: url(../fonts/Caslo-an_1.ttf);
  }
  
  @font-face {
    font-family: "Indy";
    src: url(../fonts/Indy.otf);
  }
  
  @font-face {
    font-family: "Papyrus";
    src: url(../fonts/papyrus_1.ttf);
  }
  
  @font-face {
    font-family: "Stonecross";
    src: url(../fonts/Stonecross.otf);
  }
  
  @font-face {
      font-family: "Bookman Caps";
      src: url(../fonts/BOOKOSB_CAPS.otf);
  }

 @font-face {
     font-family: "Candarian";
     src: url(../fonts/Candar.otf);
 } 

 @font-face {
     font-family: "Cowpoke";
     src: url(../fonts/Cowpoke.otf);
 }
 
 @font-face {
     font-family: "Cthulhu Signs";
     src: url(../fonts/Cthulhu_Sign_2.otf);
 }

 @font-face {
     font-family: "Dr Suess Letter";
     src: url(../fonts/Dr-Seuss-Letter.otf);
 }

 @font-face {
     font-family: "HeadlineFA";
     src: url(../fonts/HeadlineFA.otf);
 }

 @font-face {
     font-family: "Isaac Stone";
     src: url(../fonts/Isaac-Stone.otf);
 }

 @font-face {
     font-family: "Jani-Hand";
     src: url(../fonts/Jani-Hand.otf);
 }

 @font-face {
     font-family: "Outlaw";
     src: url(../fonts/Outlaw.otf);
 }

 @font-face {
     font-family: "Raven's Peak";
     src: url("../fonts/Ravens-Peak.otf");
 }

 @font-face {
     font-family: "San Simeon";
     src: url(../fonts/SanSimeon.otf);
 }

 @font-face {
     font-family: "San Simeon Solid";
     src: url(../fonts/SanSimeon-Solid.otf);
 }

 @font-face {
     font-family: Surfboard;
     src: url(../fonts/Surfboard.otf);
 }

 @font-face {
     font-family: "Surfboard Solid";
     src: url(../fonts/SurfboardSolid.otf);
 }

 @font-face {
     font-family: "The KID";
     src: url(../fonts/theKID.otf);
 }

 @font-face {
     font-family: "The Kid - Block";
     src: url(../fonts/theKID-Block.otf);
 }

 @font-face {
     font-family: "US Marshal Large";
     src: url(../fonts/USMarshal-Large.otf);
 }

 @font-face {
     font-family: "West Print";
     src: url(../fonts/WestPrint.otf);
 }

 @font-face {
     font-family: "West Print Caps";
     src: url(../fonts/WestPrint-Caps.otf);
 }

 @font-face {
     font-family: "West Print Caps Alt";
     src: url(../fonts/WestPrint-CapsAlt.otf);
 }

 @font-face {
  font-family: "WW2 Blackletter HPLHS";
  src: url(../fonts/WW2BlaHPLHS_1.ttf);
}

@font-face {
  font-family: "Ulitmmaue";
  src: url(../fonts/Ultimmaue_0.ttf);
}

@font-face {
  font-family: "Nightmare Before Christmas";
  src: url(../fonts/NightmareXmas.ttf);
}