@import url("../css/style.css");

.main {
    display: flex;
    justify-content: center;
    position: relative;
    top: 22vh;
  }

.rotate {
    animation: rotation 50s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 