@import url("../css/style.css");

body {
  background: linear-gradient(90deg, rgba(177, 64, 200, 1) 0%, 
              rgba(109, 9, 121, 1) 35%, rgba(45, 1, 62, 1) 100%);
}

/*NAVBAR*/
.sidenav{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 15PX;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #340146;
  }

.glow {
  font-size: 70px;
  color: #ffa202;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

h2{
  font-family: "French's Asylum";
}

.main p{
  font-family: "French's Asylum";
}


.rotate {
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 