@import url("../css/fonts.css");

body, html {
  background-color: #FFA202;
  padding-left: 150px;
  padding-right: 15px;
}

/* TOPBAR */
.topbar {
  position: sticky;
  overflow: hidden;
  font-family: "WW2 Blackletter HPLHS";
  text-align: center;
  z-index: ;
}

.topbar h1 {
  color: white;
  font-size: 50px;
  text-shadow: 4px 4px black;
  
}

h2{
    font-family: "WW2 Blackletter HPLHS";
    font-size: 40px;
}

/*NAVBAR*/
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 15PX;
    background-color: #340146;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #9a01cd;
  }
  
  .sidenav .navlink{
    padding: 6px 8px 6px 16px;
    font-family: 'WW2 Blackletter HPLHS';
    font-size: 45px;
  }
  
  .sidenav input{
    width:90%;
  }
  
  .sidenav a {
    
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    color: whitesmoke;
    display: block;
  }
    
  .sidenav a:hover {
    color: #ffa202;
  }

  .quest, .input, ball {
    display: inline-block;
  }




    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
@media screen and (min-width: 601px) {
    .body{
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .body{
      font-size: 30px;
    }
  }
  