@import url("../css/fonts.css");

body, html {
  padding-left: 120px;
  padding-right: 15px;
  background-image: url(../img/Background.png);
  font-family: "WW2 Blackletter HPLHS";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* TOPBAR */
.topbar {
  position: sticky;
  overflow: hidden;
  font-family: "WW2 Blackletter HPLHS";
  text-align: center;
  
  /* AN ATTEMPT TO ADD 3D TO SIDE BAR (USING THE BUTTON EFFECT), DIDN'T WORK, BUT DON'T HATE IT*/
  background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
  border-radius: 6px;
  box-shadow: 0 0 0 1px #091827 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #071421,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
  color: white !important;
  text-align: center;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
  -webkit-transition: all 1s linear;
  
}

.topbar h1 {
  color: white;
  font-size: 50px;
  text-shadow: 4px 4px black;
  
}

h2{
    font-family: "WW2 Blackletter HPLHS";
    font-size: 40px;
}

/*NAVBAR*/
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 15PX;
    background-color: #ffa202;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #340146;
    
    /* AN ATTEMPT TO ADD 3D TO SIDE BAR (USING THE BUTTON EFFECT), DIDN'T WORK, ODDLY, WITH THE CONSOLE OPEN IT HAS AN AWESOME FADE EFFECT...*/
    background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
    border-radius: 6px;
    box-shadow: 0 0 0 1px #091827 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #071421,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    color: white !important;
    text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    -webkit-transition: all 10s linear;
    width: 186px;
  }
  
  .sidenav .navlink{
    padding: 6px 8px 6px 16px;
    font-family: 'WW2 Blackletter HPLHS';
    font-size: 45px;
  }
  
  .sidenav input{
    width:90%;
  }
  
  .sidenav a {
    
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    display: block;
    color: whitesmoke;
    display: block;
  }
    
  .sidenav a:hover {
    color: #4d0f58;
  }

  .quest, .input, ball {
    display: inline-block;
  }


    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
@media screen and (min-width: 601px) {
    .body{
      font-size: 80px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .body{
      font-size: 30px;
    }
  }
  